<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @users.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :fullname %><br>
    <%= f.text_field :fullname %>
  </div>

  <div>
    <%= f.label :description %><br>
    <%= f.text_field :description%>
  </div>

  <div>
    <%= f.label :picture %><br>
    <%= f.text_field :picture%>
  </div>

  <div>
    <%= f.label :username %><br>
    <%= f.text_field :username%>
  </div>

  <div>
    <%= f.label :password %><br>
    <%= f.text_field :password%>
  </div>

  <div>
    <%= f.label :confirmation %><br>
    <%= f.text_field :confirmation%>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
