<h3>My Profile</h3>
<p><%= @user.fullname%></p>
<p><%= image_tag @user.picture%></p>
<p><%= @user.username%></p>
<h4>About me:</h4>
<p><%= @user.description%></p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>